@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --muted: #5f6b7a;
    --bg-muted: #f0f4f8;
    --blue-1: #003F61;
    --blue-2: #0075B3;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: var(--muted);
}

svg {
    width: 16px;
    height: 16px;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.83em;
}

.techno-shell {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
}

.bg-muted {
    background-color: var(--bg-muted);
}

.text-blue {
    color: var(--blue-2) !important;
}

.header-left {
    background-image: linear-gradient(135deg, var(--blue-1), var(--blue-2));
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.header-left * {
    color: #fff;
}

.profile-pic {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.header-right h4 {
    color: var(--muted);
}

.company-logo {
    width: 100px;
    height: auto;
}

.left-content {
    width: 425px;
}

.education {
    list-style-position: inside;
}

.projects ul {
    list-style-position: inside;
}

.skills-table {
    border-collapse: separate;
    border-spacing: 0 4px;
    margin-top: 32px;
}

.skills-table th,
.skills-table td {
    padding: 8px 12px;
    color: var(--muted);
}

.skills-table thead th {
    background-color: #e6f5fb;
    color: var(--blue-2);
    font-weight: 600;
    white-space: nowrap;
}

.skills-table tbody td {
    background-color: var(--bg-muted) !important;
    border-radius: 0;
}

.skills-table thead th:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.skills-table thead th:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.skills-table tbody tr td:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.skills-table tbody tr td:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
